<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-lg-3 right">
      <div class="img-fluid">
        <img src="../../assets/tara.jpg" class="rounded-circle center">
      </div>

      <div>
        <div class="br">
          <h2>Brief</h2>
        </div>
        <p class="spacing">I gave a short answer" - means I gave an answer that was not very long. Short can also be
          used for time. "I
          will see you in a short amount of time" - means I will see you in a small amount of time. You can also say "I
          will see you shortly".</p>

        <div class="br">
          <h2>Pro Skills</h2>
        </div>
      </div>


      <div class="progress bar">
        <div class="size"><b>Web</b> </div>
        <div class="progress-bar bg-success support" style="width:60%">60%</div>
      </div>
      <div class="progress bar">
        <div class="size"><b>Iot</b></div>
        <div class="progress-bar bg-info support" style="width:45%">45%</div>
      </div>
      <div class="progress bar">
        <div class="size"><b>Java</b></div>
        <div class="progress-bar bg-warning support" style="width:40%">40%</div>
      </div>
      <div class="progress bar">
        <div class="size"><b>Android</b></div>
        <div class="progress-bar bg-secondary support" style="width:70%">90%</div>
      </div>

      <div class="br">
        <h2>Awards</h2>
      </div>
      <div class="award">
        <div><b>Employee of the year </b></div>
        <p>Lorem, ipsum dolor sit amet consectetur adipis</p>
      </div>
      <div class="award">
        <div><b>Employee of the year </b></div>
        <p>Lorem, ipsum dolor sit amet consectetur adipis</p>
      </div>


    </div>
    <div class="col-md-9 col-lg-9">
     
      <div class="block container-fluid">
        <h2><b>TARA SUTARIA</b></h2>
        <p>Web Developer</p>
      </div>

      <h2>&nbsp;&nbsp;<div class="fas fa-file exp">&nbsp;&nbsp;&nbsp;<b>Experience</b></div>
      </h2>

      <div class="left-1">
        <div><b>
            <h4>Product Designer</h4>
          </b></div>
        <span class="fas fa-clock float-right">&nbsp;&nbsp;<b>In 2014- 2015</b></span>
        <div class="fa fa-arrow-circle-right"><b>ABC Corporation</b></div>
        <p>Lorem, ipsum dolor sit amet consectetur adipis Lorem, ipsum dolor sit amet consectetur adipis Lorem, ipsum
          dolor sit amet consectetur adipis Lorem, ipsum dolor sit amet consectetur adipis</p>
      </div>

      <div class="left">
        <div><b>
            <h4>Web Developer</h4>
          </b></div>
        <span class="fas fa-clock float-right">&nbsp;&nbsp;<b>In 2014- 2015</b></span>
        <div class="fa fa-arrow-circle-right"><b>ABC Corporation</b></div>
        <p>Lorem, ipsum dolor sit amet consectetur adipis Lorem, ipsum dolor sit amet consectetur adipis Lorem, ipsum
          dolor sit amet consectetur adipis Lorem, ipsum dolor sit amet consectetur adipis</p>
      </div>

      <div class="left">
        <div><b>
            <h4>3D Designer</h4>
          </b></div>
        <span class="fas fa-clock float-right">&nbsp;&nbsp;<b>In 2014- 2015</b></span>
        <div class="fa fa-arrow-circle-right"><b>ABC Corporation</b></div>
        <p>Lorem, ipsum dolor sit amet consectetur adipis Lorem, ipsum dolor sit amet consectetur adipis Lorem, ipsum
          dolor sit amet consectetur adipis Lorem, ipsum dolor sit amet consectetur adipis</p>
      </div>

      <h2>&nbsp;&nbsp;<div class="fas fa-user-graduate gr ">&nbsp;&nbsp;&nbsp;<b>Education</b></div>
      </h2>

      <div class="left-1">
        <div><b>
            <h4>Master Of Fine Art</h4>
          </b></div>
        <span class="fas fa-clock float-right">&nbsp;&nbsp;<b>In 2014- 2015</b></span>
        <div class="fa fa-arrow-circle-right"><b>ABC Corporation</b></div>
        <p>Lorem, ipsum dolor sit amet consectetur adipis Lorem, ipsum dolor sit amet consectetur adipis Lorem, ipsum
          dolor sit amet consectetur adipis Lorem, ipsum dolor sit amet consectetur adipis</p>
      </div>
      <div class="left">
        <div><b>
            <h4>Bachelor Of Fine Art</h4>
          </b></div>
        <span class="fas fa-clock float-right">&nbsp;&nbsp;<b>In 2014- 2015</b></span>
        <div class="fa fa-arrow-circle-right"><b>ABC Corporation</b></div>
        <p>Lorem, ipsum dolor sit amet consectetur adipis Lorem, ipsum dolor sit amet consectetur adipis Lorem, ipsum
          dolor sit amet consectetur adipis Lorem, ipsum dolor sit amet consectetur adipis</p>
      </div>
      <div class="row float-right bt">
        <button class="fas fa-download" type="button">&nbsp;&nbsp;<b>Save</b></button>
      </div>


    </div>
  </div>
</div>
